# The project name is prepended along with the service name to the container on
# start up.
COMPOSE_PROJECT_NAME=quickreg

# Database environment variables
MYSQL_USER=webuser
MYSQL_PASSWORD=webuser_pw
MYSQL_DATABASE=quickreg

# Endpoint to connect to the RDS instance
RDS_ENDPOINT=quickreg-db-instance.example.com

# Other Variables used for setup scripts
DB_INSTANCE_IDENTIFIER=quickreg-db-instance
DB_SUBNET_GROUP=quickreg-db-subnet-group
VPC_DB_SECURITY_GROUP=sg-098bb06b5958e6dab # (quickreg-db-sg) should have private access
