<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="RunnerModule">
    <head>
        <title>Create Account</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="js/angular.min.js"></script>
		<script src="js/angular-resource.min.js"></script>
    </head>
    
    <body ng-controller="RunnerController as runnerCtrl">
        <h1>Create Account</h1>
        <fieldset>
            <legend>Product Details</legend>
            <form ng-submit="runnerCtrl.addRacer(runner)">
                <label>First Name</label>
				<input type="text" ng-model="runner.first_name" required>
                
                <label>Surname</label>
                <input type="text" ng-model="runner.last_name" required>

                <label>email:</label>
                <input type="text" ng-model="runner.email" required>

				<label>Gender</label>
				<input type="radio" ng-model="runner.gender" value="female" required>
				Female
				</input>

				<input type="radio" ng-model="runner.gender" value="male">
				Male	
				</input>

				<label>Date of Birth</label>
				<input type="date" ng-model="runner.dob"></input>

				<label>Club</label>
				<input type="text" ngmodel="runner.club"></input>

				<label>Email Address</label>
				<input type="text" ngmodel="runner.email"</input>
				
				<label>Medical Conditions</label>

			<button>Register</button>
            </form>            
        </fieldset>
    </body>
</html>
